APP_PORT=3000
NODE_ENV=development

DATABASE_HOST=localhost
DATABASE_PORT=5433
DATABASE_NAME=task_management
DATABASE_USER=postgres
DATABASE_PASSWORD=password_anda

JWT_SECRET=
JWT_EXPIRE_IN=7d

AI_PROVIDER=gemini/openai
AI_API_KEY=api_key_anda
AI_MODEL=model_yang_digunakan

REDIS_HOST=localhost
REDIS_PORT=6379